travelling-salesman/salesman-core/src/main/resources/edu/tsu/ge/salesman/core/input/cities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
  <xs:element name="cities">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="city" maxOccurs="unbounded">
          <xs:complexType>
            <xs:attribute name="name" type="xs:string"></xs:attribute>
            <xs:attribute name="x" type="xs:int"></xs:attribute>
            <xs:attribute name="y" type="xs:int"></xs:attribute>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute name="total" type="xs:int"></xs:attribute>
    </xs:complexType>
  </xs:element>
</xs:schema>